[submodule "lib/libcsp"]
  path = lib/csp
  url = git@github.com:infiniteorbits/si_libcsp_fork.git
  branch = csh-v2.8     
[submodule "lib/libparam"]
  path = lib/param
  url = git@github.com:infiniteorbits/si_libparam_fork.git
  branch = csh-v2.8
[submodule "lib/slash"]
  path = lib/slash
  url = git@github.com:infiniteorbits/si_slash_fork.git
  branch = csh-v2.8
[submodule "lib/apm"]
	path = lib/apm
	url = git@github.com:infiniteorbits/si_libapm_fork.git
  branch = csh-v2.8
